<!DOCTYPE html>
<html>
<head>
    <title>Greetings from Express.js project</title>
</head>
<body>
    <h1>Image request</h1>
    <p>If you passed a valid name the image should appear.</p>
    <img src="<%= imageUrl %>" alt="Passed link to image.">
</body>
</html>