<!DOCTYPE html>
<html>
<head>
    <title>Greetings from Express.js project</title>
</head>
<body>
    <h1>Image request</h1>
    <p>If you passed a valid url with and .png,.jpeg the image should appear.</p>
    <img src="imageExample.png" alt="Passed link to image.">
</body>
</html>