<!-- The main page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p>No extra routing was needed. This is your landing page</p>
    <p>List of possible GET request:</p>
    <ul>
        <li><a href="/api/users/1">/api/users/id (where id is 1, 2 ...)</a> - API related requests, returns JSON</li>
        <li><a href="/view/greeter/Cyril">/view/greeter/YourName</a> - View related, return a personalised message, item, etc. </li>
        <li><a href="/content/image/1">/content/image/num (where num is 1, 2...</a> - Content related requests, returns Images for example.</li>
        <!-- Add more items as needed -->
    </ul>
</body>
</html>
